
#left{
width:73%;
float: left;
margin-left: 2px;
}
 a:link{text-decoration:none;} 
 a:visited{text-decoration:none;} 
.titleName{
float: left;
}
.diaryDatetime{
float:right;
color:#000;
font-size: 14px;
}
.titleName a:HOVER{
color: #000;
}
.title{
text-align: center;
}
#time {
	text-align: center;
	border: 1px solid #95B8E7;
	width: 100%;
	height: 40px;
	display: none;
}
.presenttime{
font-weight:bold;
border: 1px solid #95B8E7;
width: 150px;
height: 30px;
padding:0px 0px;
margin-left: 25%;
}
.presenttime a{
color: #D3D3D3;
}
*{
 word-break:break-all;
 word-wrap: break-word;
 }
.presenttime a:LINK {
	font-size:18px;
	font-weight:bold;	
	text-decoration: none;
	color: #D3D3D3;
}
.presenttime a:HOVER {
	color: #A7A7A7;
}
#right{
	position:fixed;
	top:10px;
	right:1px;
	width: 24%;
}
.lookstaff{
display: none;
line-height: 25px;
margin-left: 2%;
}
#btnclick{
float:right;
margin-right:2%;
margin-top:5px;
}
.commtable{
display:none;
}
.diarycomments{
width:96%;
margin-left:2%;
}
.presentstaff{
font-weight:bold;
border: 1px solid #95B8E7;
width: 200px;
margin-left:5px;
margin-bottom:5px;
padding-top:0px;
}
.presentstaff a{
color: #D3D3D3;
}
.presentstaff a:LINK {
	font-size:20px;
	font-weight:bold;	
	text-decoration: none;
	color: #D3D3D3;
}
.presentstaff a:HOVER {
	color: #A7A7A7;
}
 .diarycontent{
 width: 100%;
 word-break:break-all;
 word-wrap:break-word;
 }
 .good-ok-div,.good-div{background:url('/tfd/system/styles/css/style1/diary/25-32.png');
background-repeat:no-repeat;
height:18px;
width:24px;
float: left;
margin-right: 5px;
}
.good-div{background-position:-360px -173px;}
.good-ok-div{background-position:-360px -148px;}
.feed::after, .feed-hd::after, .feed-bd::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.feed, .feed-hd, .feed-bd {
}
.feed-list {
    clear: both;
}
.no-feed-notice {
    color: #8f8f8f;
    font-size: 16px;
    padding: 0 0 0 85px;
}
.no-feed-notice a {
    color: #444;
}
.feed {
    color: #444;
    font-family: arial,simsun,sans-serif;
    margin: 10px 0;
    padding: 5px 0 5px 70px;
    position: relative;
}
.feed.first-feed {
    margin-top: 0;
    padding-top: 0;
}
.feed a, .feed a:visited, .feed a:link, .feed a:active {
    color: #b4b4b4;
}
.feed a:hover {
    color: #39c;
}
.feed a.feed-user {
    color: #666;
    margin-right: 8px;
}
.feed .feed-type, .feed .feed-dept, .feed .feed-priv {
    color: #888;
    display: none;
    margin-right: 8px;
}
.feed:hover .feed-type, .feed:hover .feed-dept, .feed:hover .feed-priv {
    display: inline;
}
.feed .feed-avatar {
    height: 64px;
    right:  620px;	
    position: absolute;
    top: 0;
    width: 64px;
}
.feed .feed-avatar:active {
    opacity: 0.9;
    top: 1px;
    z-index: 1;
}
.feed .feed-avatar a.blog-avatar {
    background-color: #fff;
    background-position: center center;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 1px 2px #b0b3b6;
    display: block;
    height: 64px;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 64px;
}
.feed .feed-avatar a.blog-avatar img {
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
}
.feed .feed-avatar a.author-avatar {
    bottom: -10px;
    display: block;
    height: 30px;
    outline: medium none;
    position: absolute;
    right: -10px;
    width: 30px;
}
.feed .feed-avatar a.author-avatar span {
    background-color: #b0b3b6;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    display: block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
.feed-content-holder {
    float: right;
    margin: -1px -2px -4px;
    position: relative;
    width: 550px;
    margin-right: 40px;
}
.feed .pop-content {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 2px -1px #e6e6e6;
    text-align: left;
}
.feed .feed-hd {
    overflow: hidden;
    padding: 15px 22px 0;
}
.feed .feed-hd.no-content {
    height: 0;
}
.feed .feed-bd {
    padding: 0 22px 6px;
}
.feed-hd .feed-time {
    color: #aaa;
    float: right;
    height: 16px;
    line-height: 1;
}
.feed-hd .feed-basic {
    float: left;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 370px;
    text-align: left;
}
.feed-hd .feed-basic .repost-from {
    color: #b4b4b4;
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
}
.feed-act{
	float: right;
}
.ui-poptip-arrow, .ui-poptip-arrow em, .ui-poptip-arrow span {
    font-family: SimSun,Hiragino Sans GB;
    font-size: 14px;
    font-style: normal;
    line-height: 21px;
    position: absolute;
    z-index: 10;
}
.ui-poptip-arrow em {
    color: #ddd;
}
.ui-poptip-arrow span {
    color: #fff;
    left: 0;
    top: 0;
}
.ui-poptip-arrow-10 {
    left: -6px;
    top: 6px;
}
.ui-poptip-arrow-10 em {
    left: -1px;
    top: 0;
}
.ui-poptip-arrow-2 {
    right: 0;
    top: 10px;
}
.ui-poptip-arrow-2 em {
    border-left-color: #ddd;
    border-width: 6px 0 6px 6px;
    left: 1px;
    top: 0;
}
.ui-poptip-arrow-2 span {
    border-left-color: #fff;
    border-width: 6px 0 6px 6px;
}
.ui-poptip-arrow-11 em, .ui-poptip-arrow-11 span {
}
.ui-poptip-arrow-11 em, .ui-poptip-arrow-1 em {
    border-bottom-color: #ddd;
    border-width: 0 6px 6px;
    left: 0;
    top: -1px;
}
.ui-poptip-arrow-11 span, .ui-poptip-arrow-1 span {
    border-bottom-color: #fff;
    border-width: 0 6px 6px;
}
.ui-poptip-arrow-11 {
    left: 14px;
    top: -6px;
}
.ui-poptip-arrow-1 {
    right: 28px;
    top: -6px;
}
.ui-poptip-arrow-5 em, .ui-poptip-arrow-7 em {
    border-top-color: #ddd;
    border-width: 6px 6px 0;
    left: 0;
    top: 1px;
}
.ui-poptip-arrow-5 span, .ui-poptip-arrow-7 span {
    border-top-color: #fff;
    border-width: 6px 6px 0;
}
.ui-poptip-arrow-5 {
    bottom: 0;
    right: 28px;
}
.ui-poptip-arrow-7 {
    bottom: 0;
    left: 14px;
}
#_my97DP {
    border-radius: 3px;
    box-shadow: 0 0 17px -7px #222;
    overflow: hidden;
}
#selectUserContainer {
    background: #e7e7e7 none repeat scroll 0 0;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 1px #aaa;
    left: 50%;
    margin-left: -227px;
    margin-top: -175px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    z-index: 99999;
}
#selectUserContainer iframe {
    border: medium none;
}