.top_info {
  height: 50px;
  margin: 0 auto;
  border-bottom: 3px solid #3f9bca;
}

.top_info_left{
    height:50px;
    float:left;
	margin-left:10px;
}

.top_info_right {
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}

.icontop-basic_hover {
  display: block;
  width: 300px;
  line-height: 50px;
  padding-left: 30px;
 /* background: url(dept.png) no-repeat;*/
  background-position: 0px 10px;
}

.title_name {
  line-height: 50px;
  font-weight: 900;
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
  color: #3f9bca;
  float: left;
}