.top_info {
  height: 50px;
  margin: 0 auto;
  border-bottom: 3px solid #3f9bca;
}

.top_info_left{
	width:250px;
    height:50px;
    float:left;
	margin-left:10px;
}

.top_info_right {
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}

.icontop-basic_hover {
  display: block;
  width: 200px;
  line-height: 50px;
  padding-left: 30px;
  background: url(form.png) no-repeat;
  background-position: 0px 10px;
}

.title_name {
  line-height: 50px;
  font-weight: 900;
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
  color: #3f9bca;
}

.widget {
    box-shadow: none;
    margin: 3px 0 30px;
    padding: 0;
}

.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
}
.widget-header {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: #555;
    min-height: 35px;
    padding-left: 12px;
    position: relative;
    text-align: right;
}
.bordered-sky {
    border-color: #11a9cc !important;
}
.widget-header > .widget-caption {
    float: left;
    font-size: 13px;
    font-weight: 400 !important;
    line-height: 34px;
    margin: 0;
    padding: 0;
    text-align: left;
}
